@import url(http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Montserrat:400,700|Crete+Round:400italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

/*@font-face {

  font-family: 'Montserrat';

  font-style: normal;

  font-weight: 400;

  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v10/SKK6Nusyv8QPNMtI4j9J2yEAvth_LlrfE80CYdSH47w.woff2) format('woff2');

  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;

}*/

.dropdown-menu .active{
  background:  #c0392b !important;
  color: white !important;
}

section {
  display: block;
}

* {
  font-family: 'Lato', "Montserrat", sans-serif;
}

nav {
  margin: 0 !important;
  color: #c0392b !important;
}

.nav li a{
  color: #c0392b !important;
}

.navbar-brand{
  color: #c0392b !important;
}


.nav li a:hover{
  background: #c0392b !important;
  color: #fff !important;
}

.aj {
  text-align: center;
  padding: 20px;
  min-height: 483px;
}

.bar {
  background: #c0392b;
  margin-bottom: 50px;
  color:white;
}

.btn-ra{
  background: #c0392b;
  color: #fff;
  }


.ra{
  color: #c0392b !important;
}

.bar h4 {
  padding-left: 50px;
}

.thumbnail {
  min-height: 370px !important;
}


.testimonials{
    background: black;
}

.testimonials .carousel{
    padding: 90px 0 120px;
    max-height: 50vh;
    background: black;
}

.testimonials blockquote {
    color: white;
}

.testimonials h3 {
    color: white;
}

.testimonials small {
    margin-top: 30px;
    color: white;
    opacity: .5;
}

#quote-carousel .carousel-indicators li {
    background: white
}

#quote-carousel .carousel-indicators .active {
    background: #c0392b;
}

.item blockquote {
    border-left: none;
    margin: 0;
    min-height: 150px;
}


@media (max-width: 768px) {
  #quote-carousel .carousel-indicators {
    position: relative;
    bottom: 1px;
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px
    }
.testimonials {
        min-height: 450px
    }
    .testimonials blockquote {
        min-height: 180px
    }
}


.recycle {
  min-height: 300px !important;
  margin-bottom: 20px;
}

.caption {
  margin: auto;
}

.rform input {
  height: 45px;
}

.center {
  text-align: center;
  padding-bottom: 55px;
}


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
  .item {
    width: 100vw;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
  .item {
    width: 100vw;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
  .item {
    width: 100vw;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
  .item {
    width: 100vw;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
  .item {
    width: 100vw;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.img1 {
  background-image: url("../img/back1.jpg")
}

.img2 {
  background-image: url("../img/back2.jpg")
}

.img3 {
  background-image: url("../img/back3.jpg")
}
 
.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

.lead {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.center h2 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 20px;
}

.feature-wrap h2 {
  margin-top: 10px;
}

h2 {
  font-size: 20px;
}

.feature-wrap h3 {
  font-size: 16px;
  color: #c0392b;
  font-weight: 400;
  line-height: 24px;
}

#feature {
  background: #f2f2f2;
  padding-bottom: 40px;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #c0392b;
  line-height: 1.6em;
}

#feature.transparent-bg {
  margin-top: -40px;
}

.features {
  padding: 0;
}

.feature-wrap {
  margin-bottom: 35px;
  overflow: hidden;
}

.feature-wrap h2 {
  margin-top: 10px;
}

.feature-wrap .pull-left {
  margin-right: 25px;
}

.feature-wrap i {
  font-size: 48px;
  height: 110px;
  width: 110px;
  margin: 3px;
  border-radius: 100%;
  line-height: 110px;
  text-align: center;
  background: #ffffff;
  color: #c0392b;
  border: 3px solid #ffffff;
  box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  float: left;
  margin-right: 25px;
}

.feature-wrap i:hover {
  background: #c0392b;
  color: #fff;
  box-shadow: inset 0 0 0 5px #c0392b;
  -webkit-box-shadow: inset 0 0 0 5px #c0392b;
  border: 3px solid #c0392b;
}

body>section {
  padding: 70px 0;
}


/*** About us section***/

.center span {
  color: #c0392b;
}

.skill_text {
  display: block;
  margin-bottom: 60px;
  margin-top: 25px;
  overflow: hidden;
}

.sinlge-skill {
  background: #f2f2f2;
  border-radius: 100%;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: bold;
  height: 200px;
  position: relative;
  width: 200px;
  text-transform: uppercase;
  overflow: hidden;
  margin: 30px auto;
}

.sinlge-skill p em {
  color: #FFFFFF;
  font-size: 38px;
}

.sinlge-skill p {
  line-height: 1;
}

.joomla-skill,
.html-skill,
.css-skill,
.wp-skill {
  position: absolute;
  height: 100%;
  bottom: 0;
  width: 100%;
  border-radius: 100%;
  padding: 70px 0;
  text-align: center;
}

.joomla-skill {
  background: rgb(242, 242, 242);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 28%, rgba(45, 125, 164, 1) 28%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(242, 242, 242, 1)), color-stop(28%, rgba(242, 242, 242, 1)), color-stop(28%, rgba(45, 125, 164, 1)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 28%, rgba(45, 125, 164, 1) 28%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 28%, rgba(45, 125, 164, 1) 28%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 28%, rgba(45, 125, 164, 1) 28%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 28%, rgba(45, 125, 164, 1) 28%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#2d7da4', GradientType=0);
  /* IE6-9 */
}

.html-skill {
  background: rgb(242, 242, 242);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 9%, rgba(106, 164, 47, 1) 9%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(242, 242, 242, 1)), color-stop(9%, rgba(242, 242, 242, 1)), color-stop(9%, rgba(106, 164, 47, 1)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 9%, rgba(106, 164, 47, 1) 9%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 9%, rgba(106, 164, 47, 1) 9%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 9%, rgba(106, 164, 47, 1) 9%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 9%, rgba(106, 164, 47, 1) 9%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#6aa42f', GradientType=0);
  /* IE6-9 */
}

.css-skill {
  background: rgb(242, 242, 242);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 32%, rgba(255, 189, 32, 1) 32%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(242, 242, 242, 1)), color-stop(32%, rgba(242, 242, 242, 1)), color-stop(32%, rgba(255, 189, 32, 1)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 32%, rgba(255, 189, 32, 1) 32%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 32%, rgba(255, 189, 32, 1) 32%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 32%, rgba(255, 189, 32, 1) 32%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 32%, rgba(255, 189, 32, 1) 32%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffbd20', GradientType=0);
  /* IE6-9 */
}

.wp-skill {
  background: rgb(242, 242, 242);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 19%, rgba(219, 54, 21, 1) 19%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(242, 242, 242, 1)), color-stop(19%, rgba(242, 242, 242, 1)), color-stop(19%, rgba(219, 54, 21, 1)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 19%, rgba(219, 54, 21, 1) 19%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 19%, rgba(219, 54, 21, 1) 19%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 19%, rgba(219, 54, 21, 1) 19%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 19%, rgba(219, 54, 21, 1) 19%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#db3615', GradientType=0);
  /* IE6-9 */
}

.skill-wrap {
  display: block;
  overflow: hidden;
  margin: 60px 0;
}

.team h4 {
  margin-top: 0;
  text-transform: uppercase;
}

.team h5 {
  font-weight: 300;
}

.single-profile-top,
.single-profile-bottom {
  font-weight: 400;
  line-height: 24px;
}

.single-profile-top,
.single-profile-bottom {
  border: 1px solid #ddd;
  padding: 15px;
  position: relative;
}

.media_image {
  margin-bottom: 10px;
}

.team .btn {
  background: transparent;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 3px;
  padding: 1px 5px;
  text-transform: uppercase;
  border: 1px solid#ddd;
  margin-right: 3px;
}

ul.social_icons,
ul.tag {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: block;
}

ul.social_icons li,
ul.tag li {
  display: inline-block;
  margin-right: 5px;
}

ul.social_icons li a i {
  border-radius: 50%;
  color: #FFFFFF;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  padding: 0;
  text-align: center;
  width: 25px;
  opacity: .8;
}

.team .social_icons .fa-facebook:hover,
.team .social_icons .fa-twitter:hover,
.team .social_icons .fa-google-plus:hover {
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transition-duration: 2s;
  transition-property: all;
  transition-timing-function: ease;
  opacity: 1;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

.team .social_icons .fa-facebook {
  background: #0182c4;
}

.team .social_icons .fa-twitter {
  background: #20B8FF
}

.team .social_icons .fa-google-plus {
  background: #D34836
}

.team-bar .first-one-arrow {
  float: left;
  margin-right: 30px;
  width: 2%;
}

.team-bar .first-arrow {
  float: left;
  margin-left: 5px;
  margin-right: 35px;
  width: 22%;
}

.team-bar .second-arrow {
  float: left;
  margin-left: 5px;
  width: 21%;
}

.team-bar .third-arrow {
  float: left;
  margin-left: 40px;
  margin-right: 12px;
  width: 22%;
}

.team-bar .fourth-arrow {
  float: left;
  margin-left: 25px;
  width: 20%;
}

.team-bar .first-one-arrow hr {
  border-bottom: 1px solid #2D7DA4;
  border-top: 1px solid #2D7DA4;
}

.team-bar .first-arrow hr {
  border-bottom: 1px solid #2D7DA4;
  border-top: 1px solid #2D7DA4;
}

.team-bar .second-arrow hr {
  border-bottom: 1px solid #6aa42f;
  border-top: 1px solid #6aa42f;
}

.team-bar .third-arrow hr {
  border-bottom: 1px solid #FFBD20;
  border-top: 1px solid #FFBD20;
}

.team-bar .fourth-arrow hr {
  border-bottom: 1px solid #db3615;
  border-top: 1px solid #db3615;
}

.team-bar {
  margin-bottom: 15px;
  margin-top: 30px;
  position: relative;
}

.team-bar i {
  border-radius: 50%;
  color: #FFFFFF;
  display: block;
  height: 24px;
  line-height: 24px;
  margin-top: -32px;
  overflow: hidden;
  padding: 0;
  text-align: center;
  width: 24px;
  position: absolute;
}

.team-bar .first-arrow .fa-angle-up {
  background: #2D7DA4;
  margin-left: -33px
}

.team-bar .second-arrow .fa-angle-down {
  background: #6AA42F;
  margin-left: -33px;
}

.team-bar .third-arrow .fa-angle-up {
  background: #FFBD20;
  margin-left: -32px;
}

.team-bar .fourth-arrow .fa-angle-down {
  background: #db3615;
  margin-left: -32px;
}

.team .single-profile-top:before,
.team .single-profile-top:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.team .single-profile-top:before {
  left: 26px;
  bottom: -20px;
  border-width: 10px;
  border-color: #fff transparent transparent transparent;
  z-index: 1;
}

.team .single-profile-top:after {
  left: 25px;
  bottom: -22px;
  border-style: solid;
  border-width: 11px;
  border-color: #ddd transparent transparent transparent;
  z-index: 0;
}

.team .single-profile-bottom:before,
.team .single-profile-bottom:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}

.team .single-profile-bottom:before {
  left: 30px;
  top: -20px;
  border-width: 10px;
  border-color: transparent transparent #fff transparent;
  z-index: 1;
}

.team .single-profile-bottom:after {
  left: 29px;
  top: -22px;
  border-style: solid;
  border-width: 11px;
  border-color: transparent transparent #DDD transparent;
  z-index: 0;
}


/**footer**/

#bottom {
  background: #f5f5f5;
  border-bottom: 5px solid #E8CE0E;
  font-size: 14px;
}

#bottom h3 {
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 22px;
  color: #000;
}

#bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#bottom ul li {
  display: block;
  padding: 5px 0;
}

#bottom ul li a {
  color: #808080;
}

#bottom ul li a:hover {
  color: #E8CE0E;
}

#bottom .widget {
  margin-bottom: 0;
}

#footer {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #000;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  color: #E8CE0E;
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer ul>li {
  display: inline-block;
  margin-left: 15px;
}

.top-bar {
  padding: 10px 0;
  background: #090909;
  border-bottom: 1px solid #222;
  line-height: 28px;
}

.social {
  text-align: center;
}

.social-share {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.social-share li {
  display: inline-block;
}

ul.social-share li a {
  display: inline-block;
  color: #fff;
  background: #404040;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 2px;
}

ul.social-share li a:hover {
  background: #E8CE0E;
  color: #fff;
}

.service-item {
  color: #fff !important;
}

.caption {
  padding: 0px;
}

.package {
  width: 50%;
  margin: auto;
  margin-top: 150px;
}